@model IEnumerable<MVCApp.Models.Program>

@{
    ViewBag.Title = "ProgName";
}

<h2>ProgName</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.time
        </td>
    </tr>
}

</table>
